body { padding-bottom: 40px; }
.navbar-static-top { margin-bottom: 20px; }


h2 {
	margin-top: 30px;
}

.qualitybar {
	background-color: #000;
	padding: 1px;
	width: auto;
}

.qualitybar div {
	height: inherit;
}

.qual1 { display: inline-block; background-color: silver; }
.qual2 { display: inline-block; background-color: white; }
.qual3 { display: inline-block; background-color: green; }
.qual4 { display: inline-block; background-color: blue; }
